body {
    font-family: "Poetsen One", sans-serif;
}

.link-nav {
    color: white;
    text-decoration: none;
    background-color: #6DB3F2;
    background-image: linear-gradient(to right, rgba(47, 62, 218, 0.69), rgb(61, 27, 212));
    padding: 5px;
    border-radius: 10px;
}

.link-header {
    text-decoration: none;
    color: #27548A;
    margin-left: 30px;
}

header img:hover {
    width: 80px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

header img {
    margin-right: 10px;
    position: fixed;
    left: 700px;
}

li {
    margin-top: 20px;
}

